body {
  background-color: #107896;
  margin: 0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  background-color: #107896;
  color: white;
  padding-top:20px;
  position:fixed;
  width:100%;
  top:-20px;
  z-index: 2;
}

#wordSearch {
  position:fixed;
  top:30px;
  font-size:60px;
  right:500px;
  z-index:3;
  color:white;
}

.notheader {
  position:relative;
  top:170px;
  z-index: 1;
}

.row {
  padding-bottom:10px;
}

.resulting {
  padding:5px;
}

.restaurant {
  padding-left:10px;
  border: 5px solid #1496BB;
  border-radius: 5px;
  padding-bottom: 15px;
  background-color: white;
}

a {
  color: #00B7FF;
}

.navbut {
  color: black !important;
  font-size: 16px;
  background-color:white;
  padding: 7px;
  margin:10px;
}
